application/logs/log-*.php
application/logs/!index.html
application/cache/*
application/cache/!index.html
application/cache/!.htaccess
application/config/*_online.php
uploads/*/!index.html
uploads/!index.html
uploads/!.htaccess
user_guide/
.gitignore